@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&display=swap');

/* setting up padding border margin to 0 fro the whole site */
* {
    margin: 0;
    padding: 0;
    border: none;

}

body{
    font-weight: "Lexend", sans-serif;
    font-weight: 300;
    color: #3f3f3f
}

.header_envelope{
   background-color: grey;
   height: 80px;
}

/* nav {
   align-items: inherit;
   display: flex;
   padding-left: 49%;
} */

/* footer element*/
footer {
   height: 50px;
   
 }

 footer > ul{
   text-align: center;
   text-decoration: none;
}
  footer li {
   display: inline;
  }
footer i{
   font-size: 160%;
   margin: 2%;
   padding: 5%;
   color: black
} 
footer i:hover {
   color: red;
}


/* OCMii logo*/

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    color: black;
}
h2 {
   text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    letter-spacing: 5px;
    margin-left: 10px;
        
}

#menu {
    font-size: 110%;
    font-family: Montserrat, sans-serif;
    color: black;
    }
#menu, #logo{
    line-height: 75px;
}    

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px; /* to put space between each li element */
}
 #menu a {
    text-decoration: none; /*remove underline in menu*/
    color: inherit;
 }

 #menu a:hover {
    color: red;
    
 }
 
 .current_page {
    
    /* border-bottom: 1px solid red; */
    font-weight: bold;
    font-size: larger;
    
 }
 .follow_us{
   height: 100px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 10px;
 }

 .footer_envelope {
   height: 80px;
 }

 .hr_header {
    border: 0;
    clear:both;
    display:block;
    width: 95%;
    margin: auto;              
    background-color:black;
    height: 1px;

 }

 /* Index Page Index Page Index Page Index Page Index Page Index Page */

 /* hero image */

 #hero_envelope {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

 }

 #hero {
    margin-top: 100px;
    height: 600px;
    width: 100%;
    background: url("../images/OCMii_hero.png") no-repeat center center ;
    /* zoom animation*/
 animation-name: hero_zoom;
 animation-duration: 3s ;
 animation-fill-mode: forwards;
 }
 
 /*TRansition(zoom)effect for hero image */
 @keyframes hero_zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
 }

/* Create a Text Overlay on the Hero Image*/
#overlay_top {

    font-size: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    color: white;
    /* text-align: center; */

    width: 30%;
    height: 10%;

    padding-top: 40px;
    padding-left: 10px;

    background-color:rgba(231, 222, 222, 0);

    top: 30px;
    /* left:15px ; */
    position: absolute;
}
#overlay_bottom {

    font-size: 100%;
    font-family: Montserrat, sans-serif;
    color: white;

    width: 400px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:rgba(241,109, 107, .5);

    bottom: 30px;
    right:15px ;
    position: absolute;
}

#overlay_top h2, #overlay_bottom h2 {
    color: white;
}

/*Ocmii areas of interest and technologies*/

#technologies {
    /* padding: 75px 0; */
    text-align: center;
}

#ocmii_ethos {
    height: 350px;
    /* padding: 50px 0; */
    
}

#left_about {
    /* padding-top: 30px ; */
    width: 33%;
    height: auto;
    float: left;
    position: relative;
       
}

#right_about{
    /* padding-top: 30px; */
    width: 33%;
    height: auto;
    float: right;
   position: relative;
}

#center_about{
    /* padding-top: 30px; */
    width: 33%;
    height: auto;
    margin: 0 auto;
    position: relative;
}


/* Animation for the main 3 technologies*/

.image {
   height: 100%; 
   width: 100%; 
   object-fit: contain;
   opacity: 1;
   display: block;
   transition: .5s ease-out;
   backface-visibility: hidden;
   position: relative;
}


.overlay {
   position: absolute;
   /* top: 30px; */
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #3f7a78;
  }

  .text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
  }
  
  #left_about:hover .overlay {
    opacity: 0.75;
  }

  #center_about:hover .overlay {
    opacity: 0.75;
  }

  #right_about:hover .overlay {
    opacity: 0.75;
  }
  
  

  

 /*------------------------about page about page about page--------------------------------------*/
 #a_section1 {
    padding-top: 20px;
    margin-left: 1%;
 }   
#a_section1_div1 {
    padding-top: 10px;
    width: 80%;
    /* display: flex; */
    align-items: center;
    text-align: justify;
    line-height: 150%;
}
#a_section1_div1 img {
   
   float: left;
   margin-left: 5px;
   width: 360px;
   margin-right: 50px;

}

#a_section1_div2 {
   padding-top: 40px;
   width: 80%;
   /* display: flex; */
   align-items: center;
   text-align: justify;
   line-height: 150%;
}
#a_section1_div2 ul  {
   list-style-type: none;
   padding-left: 10px;
}
#a_section1_div2 img {
   float: right;
   margin-left: 50px;
   width: 360px;
   /* margin-right: 150px; */
   } 
#a_section1_div3 {
   padding-top: 40px;
   width: 80%;
   /* display: flex; */
   align-items: center;
   text-align: justify;
   line-height: 150%;
}

#a_section1_div3 img {
   float: left;
   margin-left: 5px;
   width: 360px;
   margin-right: 50px;
}

#a_section1_div4 {
   padding-top: 40px;
   width: 80%;
   /* display: flex; */
   align-items: center;
   text-align: justify;
   line-height: 150%;
   
}

#a_section1_div4 img {
   float: right;
   margin-left: 50px;
   width: 360px;
}
#a_section1_div4 li {
   padding-left: 1%;
   list-style-type: none;
   margin: 0 0 5px 0;
}


 /*--------------------teams page team page team page-----------------------------------------*/


 #t_section1 {
    padding-top: 20px;
    margin-left: 1%;
 }
 #t_section1_div1{
    padding-top: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 150%;
        
 }
 
 #t_section1_div1 img {
   float: left;
    margin-left: 5px;
    width: 300px;
    margin-right: 150px;
 }

 #t_section1_div1 .image:hover .overlay {
   opacity: 0.75;
   margin-left: 5px;
   width: 300px;
   margin-right: 150px;
 }
 
 
 #t_section1_div2{
    padding-top: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 150%;
    
 }


 #t_section1_div2 img {

    float: left;
    padding-top: 15px;
    width: 300px;
    margin-left: 130px;
 }

 
#t_section1_div2 .image:hover .overlay {
   opacity: 0.75;
   padding-top: 15px;
   width: 300px;
   margin-right: 100px;
}

 #t_section1_div3{
    padding-top: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 150%;
    
 }

 #t_section1_div3 img {
    float: left;
    padding-top: 15px;
    width: 300px;
    margin-right: 100px;
 }

#t_section1_div3 .image:hover .overlay {
   opacity: 0.75;
   padding-top: 15px;
   width: 300px;
   margin-right: 100px;
}

 #t_section1_div3 h3 {
   margin-right: 10px;

 }

 /*------------------Events - Events - Events - Events - Events - Events-------------------- */
 #e_hero_envelope {
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;

}

#e_hero {
   height: 600px;
   width: 100%;
   background: url("/assets/images/e_hero.jpg") no-repeat center center ;
   
}



#e_left_about {
   /* padding-top: 30px ; */
   width: 30%;
   height: auto;
   float: left;
   position: relative;
      
}

#e_right_about {
   /* padding-top: 30px; */
   width: 30%;
   height: auto;
   float: right;
   position: relative;
}
#e_center_about {
   /* padding-top: 30px; */
   width: 30%;
   height: auto;
   margin: 0 auto;
   position: relative;
}


/* Animation for the main 3 technologies*/

.e_image {
  height: 100%; 
  width: 100%; 
  object-fit: contain;
  opacity: 1;
  display: block;
  transition: .5s ease-out;
  backface-visibility: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid;
}

.e_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 50%;
  background-color: rgb(85, 80, 108);
  
 }

 .e_text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   line-height: 155%;
   
  }
 
 
 #e_left_about:hover .e_overlay {
   opacity: 0.75;
 }

 #e_center_about:hover .e_overlay {
   opacity: 0.75;
 }

 #e_right_about:hover .e_overlay {
   opacity: 0.75;
   
 }

 

 /*Video*/

 #vid {

   width: 100%;
   position: relative;
   display: block;
   margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 25%;
   
 }
 #vid video{
   width: 50%;
   /* display:block; */
   height: auto;
   top: 0;
 }
 




 /*Contact Us - Contact Us - Contact Us - Contact Us - Contact Us -*/

 #c_hero_envelope {
   /* padding-bottom: 190px; */
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;

}

#c_hero {
   margin-top: 110px;
   height: 600px;
   width: 100%;
   background: url("/assets/images/OCMii-contactUs.jpg") no-repeat center center ;
   /* zoom animation */
animation-name: hero_zoom;
animation-duration: 1s ;
animation-fill-mode: forwards;
}

#c_left_about {
   /* padding-top: 30px ; */
   width: 33%;
   height: auto;
   float: left;
   position: relative;
      
}

#c_right_about{
   /* padding-top: 30px; */
   width: 33%;
   height: auto;
   float: right;
   position: relative;
}
#c_center_about{
   /* padding-top: 30px; */
   width: 33%;
   height: auto;
   margin: 0 auto;
   position: relative;
}
 
 #c_left_about:hover .overlay {
   opacity: 0.75;
 }

 #c_center_about:hover .overlay {
   opacity: 0.75;
 }

 #c_right_about:hover .overlay {
   opacity: 0.75;
 }

 .form_section {
   margin-left: 4%;
   margin-top: 20px;
   width: 40%;
   height: auto;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
   border: 1px solid;
 }
 
 input[type=text], input[type=email], select, textarea {

   width: 100%; 
   padding: 12px;
   display: block;
   border: 1px solid #ccc;
   border-radius: 4px; /* Rounded borders */
   box-sizing: border-box; /* Make sure that padding and width stays in place */
   margin-top: 6px; 
   margin-bottom: 16px; /* Bottom margin */
   resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   }
 
input[type=submit] {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
#contacts{
   display: flex;
   
}
#map {
   margin-top: 20px;
   width: 100%;
   height: auto;
   border: 1px solid;
   margin-left:  2%;
   border-radius: 5px;
}



 

.map_responsive{
   overflow:hidden;
   padding-bottom:56.25%;
   position:relative;
   height:0;

}

.map_responsive iframe{
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;
}




#details {
   margin-top: 20px;
   width: 100%;
   height: auto;
   border: 1px solid;
   margin-left:  2%;
   text-align: center;
   background-color: #f2f2f2;
   border-radius: 5px;
}

.titles {
   flex: 0 0 auto;
   width: 75%;
}

/*------------responsive------------------*/

 
 @media screen and (max-width: 1104px){
 #contacts {
   display: block;
 }
 .form_section {
   margin-left: 6%;
   width: 46%;
}
#map{
   width: 50%;
   margin-left: 6%;

}
#details {
   width: 50%;
   margin-left: 6%;
}
 }

@media screen and (max-width: 640px){
   
   
   #menu a {
      font-size: 75%;
      text-decoration: none; /*remove underline in menu*/
      color: inherit;
   }
  
   #menu a:hover {
      color: red;
      
   }
   .current_page {
  
      
      font-size: 87%;
      font-family: Montserrat, sans-serif;
      color: black;
      
   }

  #hero_envelope {
      height: 600px;
      width: 110%;
      overflow: hidden;
      position: relative;
  
   }

   #logo {
      float: left;
      font-size: 230%;
      letter-spacing: 5px;
      margin-left: 3px;
  }
  #overlay_top {
   font-size: 70%;
   padding-top: 65px;
   
  }

  #overlay_bottom {
   font-size: 70%;
   right: 80px;
   width: 280px;
   
  }

  #ocmii_ethos {
   height: 180px;
 } 
 footer {
   height: 150px;
   padding-top: 9%;
}  

/*Following is for About page*/
*{
   margin: 0 auto;
   padding: 0;
   border: none;
}

#a_section1_div1 img {
   float: left;
   margin-left: 5px;
   margin-right: 50px;
   width: 230px;
 }
 #a_section1_div2 img {
   float: right;
   margin-left: 50px;
   width: 230px;
   
 }
 #a_section1_div3 img {
   float: left;
   margin-left: 5px;
   width: 230px;
   margin-right: 50px;
 }
 #a_section1_div4 img {
   float: right;
   margin-left: 50px;
   width: 230px;
 }

 /*team Page*/
 #t_section1_div1 {
   display:block;
 }
 #t_section1_div2 {
   display:block;
 }
 #t_section1_div3 {
   display:block;
 }
 /*Contact us*/
 #contacts {
   display: block;
 }

 .form_section {
   width: 84%;
   margin-left: 4%;
}
#details{
   width: 90%;
   border-radius: 5px;
}
#map{
   width: 92%;
   margin-left: 4%;
   
}
}

@media screen and (max-width: 521px){
   #menu {
      font-size: 80%;
   }
   
   #menu a {
      font-size:  75%;
      text-decoration: none; /*remove underline in menu*/
      color: inherit;
   }
   .form_section {
      width: 77%;
      margin-left: 4%;
}
}