@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&display=swap');

/* setting up padding border margin to 0 for the whole site */

/* below code is common to all pages same header and footer elements*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #3f3f3f
}

.header_envelope{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background-color: rgb(154, 153, 146);
   }

/* OCMii logo*/

h1, h2, h3 {
   font-family: "Montserrat", sans-serif;
   color: black;
}

h2 {
  text-align: center;
}

#logo {
   font-size: 280%;
   letter-spacing: 5px;
   margin-left: 10px;
   color: #3f3f3f;
}

.menu {
  display: flex;
  gap: 1em;
   font-size: 160%;
   font-family: Montserrat, sans-serif;
   color: #3f3f3f;
   }

#menu, #logo{
   line-height: 75px;
}    

.menu li {
   list-style-type: none;
   margin-right: 30px; 
}

.menu a {
   text-decoration: none; /*remove underline in menu*/
   color: inherit;
}

.menu a:hover {
   color: red;
}

/* hamburger menu hack*/
input[type=checkbox]{
   display: none;
} 

.hamburger {
   display: none;
   font-size: 24px;
   user-select: none;
}

/* footer element*/
footer {
   height: 50px;
   
 }

 footer > ul{
   text-align: center;
   text-decoration: none;
}
  footer li {
   display: inline;
  }
footer i{
   font-size: 140%;
   margin: 2%;
   padding: 4%;
   color: black
} 
footer i:hover {
   color: red;
}
 
 .current_page {
   
    font-weight: bold;
    font-size: larger;
    
 }
 .follow_us{
   height: 100px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 10px;
 }

 .footer_envelope {
   height: 80px;
 }

 /* to separate between divs*/

 .hr_header {
    border: 0;
    clear:both;
    display:block;
    width: 95%;
    margin: auto;              
    background-color:black;
    height: 1px;
 }

 /* -------------Index Page Index Page Index Page Index Page Index Page Index Page -----------*/

 /* hero image */

 #hero_envelope {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
 }

 #hero {
    margin-top: 100px;
    height: 600px;;
    width: 100%;
    background: url("../images/index_hero.png") no-repeat center center ;
    background-size: 100%;
    /* zoom animation below*/
 animation-name: hero_zoom;
 animation-duration: 3s ;
 animation-fill-mode: forwards;
 }
 /*TRansition(zoom)effect for hero image */
 @keyframes hero_zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
 }

/* Create a Text Overlay on the Hero Image*/
#overlay_top {

    font-size: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    color: white;
    
    width: 30%;
    height: 20%;

    padding-top: 40px;
    padding-left: 10px;
    background-color:rgba(241,109, 107, .5);

    top: 90px;
   position: absolute;
}

#overlay_bottom {

    font-size: 100%;
    font-family: Montserrat, sans-serif;
    color: white;

    width: 400px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:rgba(241,109, 107, .5);

    bottom: 30px;
    right:15px ;
    position: absolute;
}

#overlay_top h2, #overlay_bottom h2, #e_overlay_top h2 {
    color: white;
}

/*--------------------------------Ocmii echnologies------------------------------*/

#technologies {
    text-align: center;
}

#ocmii_ethos {
    height: 350px;
}

#left_about {
    width: 33%;
    height: auto;
    float: left;
    position: relative;
}

#right_about{
    width: 33%;
    height: auto;
    float: right;
   position: relative;
}

#center_about{
    width: 33%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

/* transition for the main 3 technologies*/

.image {
   height: 100%; 
   width: 100%; 
   object-fit: contain;
   opacity: 1;
   display: block;
   transition: .5s ease-out;
   backface-visibility: hidden;
   position: relative;
}
.overlay {
   position: absolute;
   /* top: 30px; */
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #3f7a78;
  }

  .text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
  }
  
  #left_about:hover .overlay {
    opacity: 0.75;
  }

  #center_about:hover .overlay {
    opacity: 0.75;
  }

  #right_about:hover .overlay {
    opacity: 0.75;
  }
 /*------------------------about page about page about page--------------------------------------*/
 #a_section1 {
    padding-top: 20px;
    margin-left: 1%;
 }   
#a_section1_div1 {
    padding-top: 10px;
    width: 80%;
    align-items: center;
    line-height: 150%;
}

#a_section1_div1 img {
   
   float: left;
   margin-left: 5px;
   width: 360px;
   margin-right: 50px;
}

#a_section1_div2 {
   padding-top: 40px;
   width: 80%;
   align-items: center;
   line-height: 150%;
}

#a_section1_div2 ul  {
   list-style-type: none;
   padding-left: 10px;
}

#a_section1_div2 img {
   float: right;
   margin-left: 50px;
   width: 360px;
   } 

#a_section1_div3 {
   padding-top: 40px;
   width: 80%;
   align-items: center;
   line-height: 150%;
}

#a_section1_div3 img {
   float: left;
   margin-left: 5px;
   width: 360px;
   margin-right: 50px;
}

#a_section1_div4 {
   padding-top: 40px;
   width: 80%;
   align-items: center;
   line-height: 150%;
}

#a_section1_div4 img {
   float: right;
   margin-left: 50px;
   width: 360px;
}
#a_section1_div4 li {
   padding-left: 1%;
   list-style-type: none;
   margin: 0 0 5px 0;
}

 /*------------------Events - Events - Events - Events - Events - Events-------------------- */
 #e_hero_envelope {
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#e_hero {
   height: 600px;
   background: url("../images/e_hero.jpg") no-repeat center center ;
   background-size:100%;
}

#e_overlay_top {

   font-size: 100%;
   font-family: Montserrat, sans-serif;
   font-weight: bolder;
   color: white;
   
   width: 49%;
   height: 10%;
   padding-top: 40px;
   padding-left: 10px;
   background-color:rgba(241,109, 107, .5);
   top: 40%;
   left: auto;
   position: absolute;
}
#e_overlay_bottom {

   font-size: 100%;
   font-family: Montserrat, sans-serif;
   color: white;

   width: 400px;
   height: 100px;
   padding-top: 40px;
   padding-left: 10px;
   background-color:rgba(241,109, 107, .5);
   bottom: 30px;
   right:15px ;
   position: absolute;
}

#e_left_about {
   width: 30%;
   height: auto;
   float: left;
   position: relative;
}

#e_right_about {
   width: 30%;
   height: auto;
   float: right;
   position: relative;
}

#e_center_about {
   width: 30%;
   height: auto;
   margin: 0 auto;
   position: relative;
}
/* Animation for the main 3 Events*/

.e_image {
  height: 100%; 
  width: 100%; 
  object-fit: contain;
  opacity: 1;
  display: block;
  transition: .5s ease-out;
  backface-visibility: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid;
}

.e_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 50%;
  background-color: rgb(85, 80, 108);
  
 }

 .e_text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   line-height: 155%;
   
  }
 
 #e_left_about:hover .e_overlay {
   opacity: 0.75;
 }

 #e_center_about:hover .e_overlay {
   opacity: 0.75;
 }

 #e_right_about:hover .e_overlay {
   opacity: 0.75;
   
 }
 /*Video element on event page*/

 #vid {
   width: 100%;
   position: relative;
   display: block;
   margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 25%;
 }

 #vid video{
   width: 50%;
   height: auto;
   top: 0;
 }
 /*-----------Contact Us - Contact Us - Contact Us - Contact Us - Contact Us ----------*/
 .form_section {
   margin-left: 4%;
   margin-top: 20px;
   width: 40%;
   height: auto;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
   border: 1px solid;
 }
 
 input[type=text], input[type=email], select, textarea {
   width: 100%; 
   padding: 12px;
   display: block;
   border: 1px solid #ccc;
   border-radius: 4px; /* Rounded borders */
   box-sizing: border-box; /* Make sure that padding and width stays in place */
   margin-top: 6px; 
   margin-bottom: 16px; /* Bottom margin */
   resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   }
 
input[type=submit] {
   background-color: #343636;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

#contacts{
   display: flex;
}

#map {
   margin-top: 20px;
   width: 100%;
   height: auto;
   border: 1px solid;
   margin-left:  2%;
   border-radius: 5px;
}
 
.map_responsive{
   overflow:hidden;
   padding-bottom:56.25%;
   position:relative;
   height:0;
}

.map_responsive iframe{
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;
}

#details {
   margin-top: 20px;
   width: 100%;
   height: auto;
   border: 1px solid;
   margin-left:  2%;
   text-align: center;
   background-color: #f2f2f2;
   border-radius: 5px;
}

.titles {
   flex: 0 0 auto;
   width: 75%;
}

/*----------------------------------------- 404.html----------------------------------------*/
body {
   background-color:lightgrey;
 }
  
 .mainbox {
   background-color: lightgrey;
   margin: auto;
   height: 600px;
   width: 600px;
   position: relative;
 }
 
   .err {
   /* color: #3f3f3f; */
   color: rgb(70, 72, 227);
   font-family: 'Nunito Sans', sans-serif;
   font-size: 11rem;
   position:absolute;
   left: 20%;
   top: 8%;
   }
 
 .far {
   position: absolute;
   font-size: 8.5rem;
   left: 42%;
   top: 15%;
   color: rgb(70, 72, 227);
 }
 
  .err2 {
     color: rgb(70, 72, 227);
     /* color: #3f3f3f; */
     font-family: 'Nunito Sans', sans-serif;
     font-size: 11rem;
     position:absolute;
     left: 68%;
     top: 8%;
   }
 
 .msg {
     text-align: center;
     font-family: 'Nunito Sans', sans-serif;
     font-size: 1.6rem;
     position:absolute;
     left: 16%;
     top: 45%;
     width: 75%;
   }
 
 a {
   text-decoration: none;
   color: rgb(70, 72, 227)
 }
 
 a:hover {
   text-decoration: underline;
 }

/*-------------------------------responsive section---------------------------------------------*/
 @media screen and (max-width: 1104px){
 #contacts {
   display: block;
 }
 .form_section {
   margin-left: 6%;
   width: 46%;
}
#map{
   width: 50%;
   margin-left: 6%;
}
#details {
   width: 50%;
   margin-left: 6%;
}
 }

@media screen and (max-width: 900px) {
   .e_text {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 100%;
      
     }
   }
@media (max-width: 768px) {
   .form_section {
      width: 82%;
   }
   #map {
      width: 87%;
   }
      
   #details {
      width: 87%;
   }

   #hero {
      margin-top: 0px;
    }

   #overlay_bottom {
      bottom: 170px;
      right: 180px;
      }
}


@media (max-width: 768px) {
   .menu { 
      display:none;
      position: relative;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
      }
   
   .menu li:hover {
      display: inline-block;
      transition: 0.3s ease;
      }
   
   .menu li + li {
      margin-top: 12px;
       }
   
   input[type=checkbox]:checked ~ .menu{
      display: block;
      }

   .hamburger {
      display: block;
      color: #3f3f3f;
         }
   }

@media screen and (max-width: 640px){
   #menu a {
      font-size: 75%;
      text-decoration: none; /*remove underline in menu*/
      color: inherit;
   }
  
   #menu a:hover {
      color: red;
      
   }
   .current_page {
  
      
      font-size: 87%;
      font-family: Montserrat, sans-serif;
      color: black;
   }

  #hero_envelope {
      height: 500px;
      width: 110%;
      overflow: hidden;
      position: relative;
   }

   #logo {
      float: left;
      font-size: 230%;
      letter-spacing: 5px;
      margin-left: 3px;
  }

  #overlay_bottom {
   bottom: 150px;
   right: 11%;
    width: 260px;
    height: 80px;
    font-size: 70%;
 }

  #ocmii_ethos {
   height: 180px;
 } 
 footer {
   height: 150px;
   padding-top: 9%;
}  
/*Following is for About page*/
*{
   margin: 0 auto;
   padding: 0;
   border: none;
}

#a_section1_div1 img {
   float: left;
   margin-left: 5px;
   margin-right: 50px;
   width: 230px;
 }
 #a_section1_div2 img {
   float: right;
   margin-left: 50px;
   width: 230px;
   
 }
 #a_section1_div3 img {
   float: left;
   margin-left: 5px;
   width: 230px;
   margin-right: 50px;
 }
 #a_section1_div4 img {
   float: right;
   margin-left: 50px;
   width: 230px;
 }
 
 /*Contact us*/
 #contacts {
   display: block;
 }

 .form_section {
   width: 84%;
   margin-left: 4%;
}
#details{
   width: 90%;
   border-radius: 5px;
}
#map{
   width: 92%;
   margin-left: 4%;
}
}

@media screen and (max-width: 521px){
   #menu {
      font-size: 80%;
   }
   #menu a {
      font-size:  75%;
      text-decoration: none; /*remove underline in menu*/
      color: inherit;
   }
   .form_section {
      width: 79%;
      margin-left: 4%;
}
}

@media screen and (max-width: 320px) {

#e_hero {
   height: 180px
}
#e_hero_envelope {
   height: 174px;
}
#e_overlay_top {
   top: 5%;
   height: 53%;
}

/*Below is for 404 page*/

.err {
   font-size: 10rem;
   left: 0%;
   }
.far {
   font-size: 7.5rem;
   left: 16%;
   }
.err2 {
   font-size: 10rem;
   left: 35%;
   }
.msg {
   width: 26%;
   font-size: 1.6rem;
   }
}



 /* end of file*/

