@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

/* setting up padding border margin to 0 fro the whole site */
* {
    margin: 0;
    padding: 0;
    border: none;

}

body{
    font-weight: Lato, sans-serif;
    font-weight: 300;
    color: grey;
}

/* OCMii logo*/

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: black;
}

#logo {
    float: left;
    font-size: 200%;
    
}

#menu {
    font-size: 110%;
    }
#menu, #logo{
    line-height: 75px;
}    

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px; /* to put space between each li element */
}
 #menu a {
    text-decoration: none; /*remove underline in menu*/
    color: inherit;
 }

 #menu a:hover {
    color: red;
    
 }
 
 .current_page {
    
    border-bottom: 1px solid red;
    
 }

 /* hero image */

 #hero_envelope{
    height: 600px;
    width: 100%;
    overflow: hidden;

 }

 #hero {
    height: 600px;
    width: 100%;
    background: url("../images/OCMii_hero.png") no-repeat center center ;
    /* zoom animation*/
 animation-name: hero_zoom;
 animation-duration: 3s ;
 animation-fill-mode: forwards;
 }

 

 /*TRansition(zoom)effect for hero image */
 @keyframes hero_zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
 }



 